body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.news-title {
  font-size: 1rem;
  /* text-decoration: underline; */
  /* cursor: pointer; */
}

.news-content {
  font-weight: 500;
  font-size: 0.75rem;
}